<div class="container">
  <h1>News</h1>

  <div *ngIf="listOfNews">
    <app-news-item
      *ngFor="let news of listOfNews"
      [news]="news"
    ></app-news-item>
  </div>
  <footer>всего новостей: {{ numberOfNews }}</footer>
</div>
