<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        *ngIf="isLoggedIn; else elseBlock"
        (click)="logout()"
        class="navbar-brand"
        routerLinkActive="active"
        routerLink="/login"
        >Logout</a
      >
      <ng-template #elseBlock>
        <a class="navbar-brand" routerLink="/login" routerLinkActive="active"
          >Login</a
        >
      </ng-template>

      <a class="navbar-brand" routerLink="/news">News</a>
      <a class="navbar-brand" routerLink="/profile">Profile</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
