<div class="container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="email"
        [class.error-border]="email.touched && email.errors"
      />
      <div *ngIf="email.touched && email.errors" class="error-field">
        <div *ngIf="email.errors.required">
          Email is requred
        </div>
        <div *ngIf="email.errors.email">
          It is not correct email
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        id="password"
        [class.error-border]="password.touched && password.errors"
      />
      <div *ngIf="password.touched && password.errors" class="error-field">
        <div *ngIf="password.errors.required">
          Password is requred
        </div>
        <div *ngIf="password.errors.minlength">
          Password should be at least 5 characters
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!formIsValid">
      Submit
    </button>
  </form>
</div>
