<div class="container">
  <h1>Profile</h1>
  <p>Город: {{ city }}</p>
  <div>
    Знание языков:
    <ul>
      <li *ngFor="let language of languages">
        {{ language }}
      </li>
    </ul>
  </div>
  <div *ngIf="socials.length > 0">
    Ссылки:
    <ul>
      <li *ngFor="let social of socials" class="logos">
        <a [href]="social.link" target="_blank">
          <img [src]="'assets/imgs/' + social.label + '.svg'" />
        </a>
      </li>
    </ul>
  </div>
</div>
